{{ $n := 0 }}

<table class="list">
    <thead>
	<tr>
	    <td>Id</td>
	    <td>Name</td>
	    <td>Author</td>
	    <td>Games</td>
	</tr>
    </thead>
    <tbody>
	{{ range $i, $a := .Users }}
	    <tr>
		<td>{{ $a.Id }}</td>
		<td>
		<a href="/agent/{{ $a.Id }}">
		{{ with $a.Name }}
		{{ . }}
		{{ else }}
		<em>Unnamed</em>
		{{ end }}
		</a>
		</td>
		<td>{{ with $a.Author }}{{ . }}{{ else }}<em>anonymous</em>{{ end }}</td>
		<td>{{ .Games }}</td>
	    </tr>
	    {{ $n = $i }}
	{{ else }}
	<tr><td colspan="4">
	  <em>No more agents</em>
	</td></tr>
	{{ end }}
    </tbody>
</table>

{{ template "pagination.tmpl" .Page }}
