{{ $self := .User }}

<table class="list">
  <thead>
      <tr>
	  <td>Id</td>
	  <td>(<abbr title="pits per side">m</abbr>,<abbr title="stones per pit">n</abbr>)</td>
	  <td>North</td>
	  <td>South</td>
	  <td>Result</td>
	  <td>#Moves</td>
	  <td>Last Move</td>
      </tr>
  </thead>
  <tbody>
    {{ range .Games }}
      <tr>
	<td><a href="/game/{{ .Id }}">{{ .Id }}</a></td>
	<td>{{ board .Board }}</td>
	<td>
	{{ template "link-agent.tmpl" .North }}
	</td>
	<td>
	{{ template "link-agent.tmpl" .South }}
	</td>
	<td>
	  {{ result $self . }}
	</td>
	<td>
	  {{ .MoveCount }}
	</td>
	{{ with .LastMove }}
	  <td>{{ timefmt . }}</td>
	{{ end }}
      </tr>
    {{ else }}
       <tr><td colspan="7"><em>No games for the query</em></td></tr>
    {{ end }}
  </tbody>
</table>
