{{ template "header.tmpl" }}

{{ $game := .Game }}
{{ $moves := .Moves }}

{{ with .Game }}
{{ $game := . }}
<p>
Game between
{{ with user .South }}
  {{ if ne .Id 0 }}
    <a href="/agent/{{ .Id }}">
    {{ with .Name }}
       {{ . }}
    {{ else }}
       <em>Unnamed</em>
    {{ end }}
    </a>
  {{ else }}
    Anon.
  {{ end }}
{{ else }}
  Nobody
{{ end }}
on the south side, and
{{ with user .North }}
  {{ if ne .Id 0 }}
    <a href="/agent/{{ .Id }}">
    {{ with .Name }}
       {{ . }}
    {{ else }}
       <em>Unnamed</em>
    {{ end }}
    </a>
  {{ else }}
    Anon.
  {{ end }}
{{ else }}
  Nobody
{{ end }}
on the north side.
</p>

<table class="move list">
  <thead>
      <tr>
	  <td>Nr</td>
	  <td>Pit</td>
	  <td>Agent</td>
	  <td>Comment</td>
      </tr>
  </thead>
  <tbody>
    {{ range $i, $m := $moves }}
      <tr>
	<td>{{ $i }}</td>
	<td>{{ $m.Choice }}</td>
	<td>
	{{ with user $m.Agent }}
	  {{ if ne .Id 0 }}
	    <a href="/agent/{{ .Id }}">
	    {{ with .Name }}
	       {{ . }}
	    {{ else }}
	       <em>Unnamed</em>
	    {{ end }}
	    </a>
	  {{ else }}
	    Anon.
	  {{ end }}
	{{ end }}
	</td>
	<td>
	{{ with $m.Comment }}
	<q>{{ . }}</q>
	{{ else}}
	<em>No comment</em>
	{{ end }}
	</td>
       </tr>
       <tr><td colspan="4">{{ draw . $game }}</td></tr>
    {{ else }}
       <tr><td colspan="4"><em>No moves</em></td></tr>
    {{ end }}
  </tbody>
</table>

<p>
{{ describe .Outcome }}
</p>

{{ else }}
<p>Unknown game.</p>
{{ end }}

{{ template "footer.tmpl" }}
