<table class="list">
    <thead>
	<tr>
	    <td>Name</td>
	    <td>Score</td>
	    <td>Description</td>
	</tr>
    </thead>
    <tbody>
	{{ range .Agents }}
	    <tr>
		<td>
		<a href="/agent/{{ .Id }}">
		{{ with .Name }}
		{{ . }}
		{{ else }}
		<em>Unnamed</em>
		{{ end }}
		</a>
		</td>
		<td>{{ .Score }}</td>
		<td>{{ with .Descr }}{{ . }}{{ else }}<em>N/A</em>{{ end }}</td>
	    </tr>
	{{ else }}
	<tr colspan="3"><td><em>No agents in the database</em></td></tr>
	{{ end }}
    </tbody>
</table>

{{ template "pagination.tmpl" .Page }}