{{ $n := 0 }}

<table class="list">
    <thead>
	<tr>
	    <td>Name</td>
	    <td>Rating (<a href="https://en.wikipedia.org/wiki/Elo_rating_system">ELO</a>)</td>
	    <td>Author</td>
	</tr>
    </thead>
    <tbody>
	{{ range $i, $a := .Agents }}
	    <tr>
		<td>
		<a href="/agent/{{ $a.Id }}">
		{{ with $a.Name }}
		{{ . }}
		{{ else }}
		<em>Unnamed</em>
		{{ end }}
		</a>
		</td>
		<td>{{ printf "%.f" $a.Score }}</td>
		<td>{{ with $a.Author }}{{ . }}{{ else }}<em>anonymous</em>{{ end }}</td>
	    </tr>
	    {{ $n = $i }}
	{{ else }}
	<tr><td colspan="4">
	  <em>No more agents</em>
	</td></tr>
	{{ end }}
    </tbody>
</table>

{{ if ne $n 0 }}
<nav id="pageination">
{{ if ge .Page 1 }}
{{ if ne .Page 1 }}
<a href="?page={{ dec .Page }}">&xlarr;</a>
{{ end }}
Page {{ .Page }}
{{ if hasMore $n }}
<a href="?page={{ inc .Page }}">&xrarr;</a>
{{ end }}
{{ else }}
Invalid page
{{ end }}
</nav>
{{ end }}