</main>
<footer>
<code>go-kgp</code> is
<a href="https://www.fsf.org/about/what-is-free-software">Free Software</a> and
<a href="https://github.com/KWARC/kalah-game/tree/trunk/server/go-kgp">available</a>
under the Terms and Conditions of the
<a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL3 License</a>.
</footer>
</body>
</html>