<table class="list">
  <thead>
      <tr>
	  <td>Id</td>
	  <td>(<abbr title="pits per side">m</abbr>,<abbr title="stones per pit">n</abbr>)</td>
	  <td>North</td>
	  <td>South</td>
	  <td>Result</td>
	  <td>Moves #</td>
      </tr>
  </thead>
  <tbody>
    {{ range .Games }}
      <tr>
	<td><a href="/game/{{ .Id }}">{{ .Id }}</a></td>
	<td>{{ board .Board }}</td>
	<td>
	{{ with .North }}
	  {{ if ne .Id 0 }}
	    <a href="/agent/{{ .Id }}">
	    {{ with .Name }}
	       {{ . }}
	    {{ else }}
	       <em>Unnamed</em>
	    {{ end }}
	    </a>
	  {{ else }}
	    Anon.
	  {{ end }}
	{{ end }}
	</td>
	<td>
	{{ with .South }}
	  {{ if ne .Id 0}}
	    <a href="/agent/{{ .Id }}">
	    {{ with .Name }}
	       {{ . }}
	    {{ else }}
	       <em>Unnamed</em>
	    {{ end }}
	    </a>
	  {{ else }}
	    Anon.
	  {{ end }}
	{{ end }}
	</td>
	<td>
	  {{ result .Outcome }}
	</td>
	<td>
	  {{ .MoveCount }}
	</td>
      </tr>
    {{ else }}
       <tr><td colspan="7"><em>No games for the query</em></td></tr>
    {{ end }}
  </tbody>
</table>

{{ template "pagination.tmpl" .Page }}
