<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KGP Server</title>
    <link rel="stylesheet" href="./static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
  </head>
  <body>
    <nav>
      <a href="/">KGP Server</a> |
      <a href="/agents">Agent Scoreboard</a>
      <a href="/about">About</a>
    </nav>
    <main>
