{{ template "header.tmpl" }}

<p>
This is the web interface of a KGP (<q><a
href="https://en.wikipedia.org/wiki/Kalah">Kalah</a> Game
Protocol</q>) Server.  The server implementation is <code>go-kgp</code>.
</p>

<p>
If a token is set, the agent will be listed in the
local Scoreboard (see below).  Clients without a token will
be regarded as anonymous.
</p>

<hr />

{{ template "agent-table.tmpl" . }}

<hr />

<p>
Currently {{ playing }} clients are playing games, and {{ waiting }}
{{ are waiting }} waiting.
</p>

{{ template "footer.tmpl" }}
