{{ template "header.tmpl" }}

{{ $top := . }}

{{ range .Agent }}


<table id="attr">
  <tr>
    <td>Author(s):</td>
    <td>{{ with .Author }} {{ . }} {{ else }} Anon. {{ end }}</td>
  </tr>
  <tr>
    <td>Rating:</td>
    <td>{{ printf "%.0f" .Score }}</td>
  </tr>
</table>

<h1>
{{ with .Name }}
Agent <q>{{ . }}</q>
{{ else }}
Unnamed agent
{{ end }}
</h1>

<p>
  <strong>Agent description:</strong>
  <blockquote>
    {{ with .Descr }} . {{ else }} <em>No Description</em> {{ end }}
  </blockquote>
</p>

<hr />

{{ template "game-list.tmpl" $top }}

{{ else }}

<p><strong>Error:</strong> Invalid agent ID.</p>

{{ end }}

{{ template "footer.tmpl" }}
