{{ template "header.tmpl" }}

{{ $top := . }}

{{ range .Agent }}


<table id="attr">
  <tr>
    <td>Author(s):</td>
    <td>{{ with .Author }} {{ . }} {{ else }} Anon. {{ end }}</td>
  </tr>
  <tr>
    <td>Rating:</td>
    <td>{{ .Score }}</td>
  </tr>
</table>

<h1>Agent <q>{{ .Name }}</q></h1>

<p>
  <strong>Agent description:</strong>
  <blockquote>
    {{ .Descr }}
  </blockquote>
</p>

<hr />

{{ template "game-list.tmpl" $top }}

{{ else }}

<p><strong>Error:</strong> Invalid agent ID.</p>

{{ end }}

{{ template "footer.tmpl" }}
