* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    margin: auto;
    font-family: sans-serif;
    line-height: 1.4;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    max-width: 800px;
    margin: 8px auto;
}

header {
    white-space: nowrap;
}

footer {
    text-align: center;
    font-size: 80%;
    padding-bottom: 8px;
}

main, nav {
    padding: 0 8px;
}

a {
    color: #058;
    text-decoration: none
}

table, td {
    border-collapse: collapse;
    border-color: #9ad;
}

table.list {
    margin: auto;
}

table.list td {
    border-bottom: 1px solid grey;
    overflow-x: auto;
}

thead {
    font-weight: bold;
    font-size: 0.9em;
}

td {
    padding: 8px;
}

table#attr {
    float: right;
    background: #fec;
    border: 1px solid #da9;
    margin-top: 12px;
    max-width: 300px;
}

table#attr tr td:nth-child(1) {
    font-weight: bold;
}

hr {
    border-width: 0;
    border-bottom: 1px solid #9ad;
}

blockquote {
    margin: 
}

#tcenter, nav#pageination {
    text-align: center;
    padding: 4px;
}
